*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/*  Page Accueil et g�n�ral */

body{
    box-sizing: border-box;
}

a
{
    text-decoration: none;
    color: #FFF;

}

.navbar
{
    background: -webkit-linear-gradient(left,#FFA958,#733104,#FFA958);
    background: -moz-linear-gradient(left,#FFA958,#733104,#FFA958);
    background: -o-linear-gradient(left,#FFA958,#733104,#FFA958);
}

.nav-link:hover{
    color: rgb(202, 195, 195) !important;
}

#my-carousel{
    height: 100vh;
}

.carousel-inner,.carousel-item{
    height: 100% !important;
    position: relative;
}

.text-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.575);
    padding: 10px;
    width: 80%;
}

.text-content h3{
    font-size: 50px;
    text-align: center;
    color: #FFA958;
}

.title{
    font-size: 60px;
    text-align: center;
    color: #FFA958;
    padding-bottom: 30px;
}

.box-main{
    min-height: 100vh;
    background: url('../img/services2.jpg') center no-repeat;
    background-size: cover;
}

.box-main h4{
    font-size: 40px;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.575);
    padding: 10px;
}

.box-main p{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background:rgba(206,206,255,0.3);
    border: 6px solid #FFA958;
    box-shadow: 20px 20px 25px black;
    cursor: pointer;
}

.carousel img{
    height: 100%;
}

.footer{
    background: #0B0B0B;
    padding: 20px 0;
}

.list-unstyled li a{
    color: #212529;
}

.box-form{
    background: url('../img/img17.jpg') center no-repeat;
    background-size: cover;
}

.box-form-connec{
    background: url('../img/img14.jpg') center no-repeat;
    background-size: cover;
}

.box-form-act{
    background: url('../img/img8.jpg') center no-repeat;
    background-size: cover;
}

.box-form,.box-form-connec, .box-form-act{
    min-height: 100vh;
    position: relative;
}

.box-form h3, .box-form-connec h3{
    color: #FFA958;
}

.box-form-act h1{
    background: rgba(255,169,36,.4);
    font-size: 50px;
    color:#FFF;
    font-weight: bold;
    padding: 10px;
}

.box-form .card-form, .box-form-connec .card-form, .box-form-act .card-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 30px;
}

.main-box{
    min-height: 100vh;
    padding: 56px 0 20px;
    background: url('../img/img7.jpg') center no-repeat;
    background-size: cover;
    position: relative;
}

.main-box h3{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFA958;
    background:rgba(0, 0, 0, 0.575);
}



